workflow.asl.json
{
  "Comment": "Subscribe user to SNS topics in parallel with user email filter",
  "StartAt": "Parallel Topic Subscriptions",
  "States": {
    "Parallel Topic Subscriptions": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Subscribe to TaskAssignmentNotificationTopic",
          "States": {
            "Subscribe to TaskAssignmentNotificationTopic": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:sns:subscribe",
              "Parameters": {
                "TopicArn.$": "$.topic1",
                "Protocol": "email",
                "Endpoint.$": "$.userEmail",
                "Attributes": {
                  "FilterPolicy": {
                    "user.$":  "States.Array($.userEmail)"
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Subscribe to TaskDeadlineNotificationTopic",
          "States": {
            "Subscribe to TaskDeadlineNotificationTopic": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:sns:subscribe",
              "Parameters": {
                "TopicArn.$": "$.topic2",
                "Protocol": "email",
                "Endpoint.$": "$.userEmail",
                "Attributes": {
                  "FilterPolicy": {
                    "user.$":  "States.Array($.userEmail)"
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Subscribe to ClosedTaskNotificationTopic",
          "States": {
            "Subscribe to ClosedTaskNotificationTopic": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:sns:subscribe",
              "Parameters": {
                "TopicArn.$": "$.topic3",
                "Protocol": "email",
                "Endpoint.$": "$.userEmail",
                "Attributes": {
                  "FilterPolicy": {
                    "user.$":  "States.Array($.userEmail)"
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Subscribe to ReopenedTasksNotificationTopic",
          "States": {
            "Subscribe to ReopenedTasksNotificationTopic": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:sns:subscribe",
              "Parameters": {
                "TopicArn.$": "$.topic4",
                "Protocol": "email",
                "Endpoint.$": "$.userEmail",
                "Attributes": {
                  "FilterPolicy": {
                    "user.$":  "States.Array($.userEmail)"
                  }
                }
              },
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Handle Error"
        }
      ],
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Handle Error": {
      "Type": "Fail",
      "Error": "SubscriptionError",
      "Cause": "Failed to subscribe user to topic"
    }
  }
}
